@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
  font-family: 'Jua', sans-serif;
}

body {
    font-family: 'Jua', sans-serif;
    background-color: #28282B;
    margin: 0;
    padding: 0;
}

.welcome {
    color: white;
    text-align: center;
    padding: 15px;
    margin-left: 30px;
}

.dashboard {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 0 30px 30px;
  flex-wrap: wrap;
}

/* to-do downnnnnnn */

.to-do{
  background: #FF5757;
  padding: 40px 30px;
  border-radius: 50px;
  width: 100%;
  max-width: 430px;
  height: 590px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FF5757;
  border-radius: 30px;
  margin-bottom: 25px;
  opacity: 45;
  position: relative;
}

input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 20px;
  font-weight: 14px;
  border-radius: 50px;
  background-color: #FFFFFF73;
  color: #ffffff;
  font-size: 25px;
  
}

::placeholder{
  color: #ffffff;
}

button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  position: absolute;
  right: -50px;
  bottom: -10px;
}

/* yes yes ik using these big ahh px measurements is ineffecient leave me alone i have horrible relative sizing */

.list .list-item{
  list-style: none;
  font-size: 26px;
  padding: 12px 8px 12px 25px;
  user-select: none;
  cursor: pointer;
  color:#ffffff;
  list-style-type: disc;
  
}


.list .list-item.checked{
  color:#ffffff;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

.list .list-item span{
  position: absolute;
  height: 50px;
  width:50px;
  color: #555;
  font-size: 20px;
  line-height: 40px;
  left: 455px;
}

/* pomodoro down */

.pomodoro{
  position: relative;
  background: #FF914D;
  padding: 40px 30px;
  border-radius: 50px;
  width: 400px;
  height: 400px;
  margin: 0;
}

.buttons{
  position: relative;
  left: 542px;
  top: 446px;
}

.countdown{
  font-size: 79px;
  color: white;
  text-align: center;
  background: transparent;
  padding: 20px;
  height: 100px;
  width: 350px;
  border-radius: 50px;
  background-color: #FFFFFF73;
  color: #ffffff;
  margin-top: 30px;
}

.add-1, .add-5, .add-30{
  font-size: 45px;
}

.add-1{
  margin-right: 835px;
  margin-bottom: 400px;
}

.add-5{
  margin-right: 605px;
  margin-bottom: 400px;
}

.add-30{
  margin-right: 836px;
  margin-bottom: 300px;
}

.restart{
  margin-right: 590px;
  margin-bottom: 300px;
}

.start{
  margin-right: 715px;
  margin-bottom: 350px;
}

.stop{
  margin-right: 715px;
  margin-bottom: 350px;
  display: none;
}

/* technical/settings down */

.technical{
  background: #2B5748;
  width: 400px;
  height:112px;
  border-radius: 50px;
  position: relative;
  margin-top: 500px;
  margin-left: -480px;
  padding: 30px;

}
/* come back to fix position thing later fixed */

/* sounds and stuff down */

.sounds{
  background: #2B5748;
  width: 400px;
  height:112px;
  border-radius: 50px;
  position: relative;
  margin-top: -900px;
  margin-left: -3px;
  padding: 30px;
}
